{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'batallanaval/img/favicon.ico' %}">
		<title>Batalla Naval</title>
		<link href="{% static 'batallanaval/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'batallanaval/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
		<link href="{% static 'batallanaval/bootstrap/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
		<link href="{% static 'batallanaval/css/batalla.css' %}" rel="stylesheet">
		<script src="{% static 'batallanaval/bootstrap/assets/js/ie-emulation-modes-warning.js' %}"></script>
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
			  </button>
			  <a class="navbar-brand" href="#">UTN-FRA PYTHON</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		<div class="container theme-showcase" role="main">
			<div class="row">
				<div class="alert alert-success" role="alert">
					<strong>Well done!</strong>
				</div>
				<div class="alert alert-warning" role="alert">
					<strong>Warning!</strong>
				</div>
				<div class="alert alert-danger" role="alert">
					<strong>Warning!</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<div class="alert alert-info" role="alert">
							<strong>Usuario A</strong>
							<br/>
							Naves faltantes: <strong>1</strong>
						</div>
						<div class="div-table">
							<div>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>1</th>
											<th>2</th>
											<th>3</th>
											<th>4</th>
											<th>5</th>
											<th>6</th>
											<th>7</th>
											<th>8</th>
											<th>9</th>
											<th>10</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td id="coord-00" class="celda"><input type="hidden" class="coord-input" name="celda[0]" value=""/></td>
											<td id="coord-01" class="celda"><input type="hidden" class="coord-input" name="celda[1]" value=""/></td>
											<td id="coord-02" class="celda"><input type="hidden" class="coord-input" name="celda[2]" value=""/></td>
											<td id="coord-03" class="celda"><input type="hidden" class="coord-input" name="celda[3]" value=""/></td>
											<td id="coord-04" class="celda"><input type="hidden" class="coord-input" name="celda[4]" value=""/></td>
											<td id="coord-05" class="celda"><input type="hidden" class="coord-input" name="celda[5]" value=""/></td>
											<td id="coord-06" class="celda"><input type="hidden" class="coord-input" name="celda[6]" value=""/></td>
											<td id="coord-07" class="celda"><input type="hidden" class="coord-input" name="celda[7]" value=""/></td>
											<td id="coord-08" class="celda"><input type="hidden" class="coord-input" name="celda[8]" value=""/></td>
											<td id="coord-09" class="celda"><input type="hidden" class="coord-input" name="celda[9]" value=""/></td>
										</tr>
										<tr>
											<td>2</td>
											<td id="coord-10" class="celda"><input type="hidden" class="coord-input" name="celda[10]" value=""/></td>
											<td id="coord-11" class="celda"><input type="hidden" class="coord-input" name="celda[11]" value=""/></td>
											<td id="coord-12" class="celda"><input type="hidden" class="coord-input" name="celda[12]" value=""/></td>
											<td id="coord-13" class="celda"><input type="hidden" class="coord-input" name="celda[13]" value=""/></td>
											<td id="coord-14" class="celda"><input type="hidden" class="coord-input" name="celda[14]" value=""/></td>
											<td id="coord-15" class="celda"><input type="hidden" class="coord-input" name="celda[15]" value=""/></td>
											<td id="coord-16" class="celda"><input type="hidden" class="coord-input" name="celda[16]" value=""/></td>
											<td id="coord-17" class="celda"><input type="hidden" class="coord-input" name="celda[17]" value=""/></td>
											<td id="coord-18" class="celda"><input type="hidden" class="coord-input" name="celda[18]" value=""/></td>
											<td id="coord-19" class="celda"><input type="hidden" class="coord-input" name="celda[19]" value=""/></td>
										</tr>
										<tr>
											<td>3</td>
											<td id="coord-20" class="celda"><input type="hidden" class="coord-input" name="celda[20]" value=""/></td>
											<td id="coord-21" class="celda"><input type="hidden" class="coord-input" name="celda[21]" value=""/></td>
											<td id="coord-22" class="celda"><input type="hidden" class="coord-input" name="celda[22]" value=""/></td>
											<td id="coord-23" class="celda"><input type="hidden" class="coord-input" name="celda[23]" value=""/></td>
											<td id="coord-24" class="celda"><input type="hidden" class="coord-input" name="celda[24]" value=""/></td>
											<td id="coord-25" class="celda"><input type="hidden" class="coord-input" name="celda[25]" value=""/></td>
											<td id="coord-26" class="celda"><input type="hidden" class="coord-input" name="celda[26]" value=""/></td>
											<td id="coord-27" class="celda"><input type="hidden" class="coord-input" name="celda[27]" value=""/></td>
											<td id="coord-28" class="celda"><input type="hidden" class="coord-input" name="celda[28]" value=""/></td>
											<td id="coord-29" class="celda"><input type="hidden" class="coord-input" name="celda[29]" value=""/></td>
										</tr>
										<tr>
											<td>4</td>
											<td id="coord-30" class="celda"><input type="hidden" class="coord-input" name="celda[30]" value=""/></td>
											<td id="coord-31" class="celda"><input type="hidden" class="coord-input" name="celda[31]" value=""/></td>
											<td id="coord-32" class="celda"><input type="hidden" class="coord-input" name="celda[32]" value=""/></td>
											<td id="coord-33" class="celda"><input type="hidden" class="coord-input" name="celda[33]" value=""/></td>
											<td id="coord-34" class="celda"><input type="hidden" class="coord-input" name="celda[34]" value=""/></td>
											<td id="coord-35" class="celda"><input type="hidden" class="coord-input" name="celda[35]" value=""/></td>
											<td id="coord-36" class="celda"><input type="hidden" class="coord-input" name="celda[36]" value=""/></td>
											<td id="coord-37" class="celda"><input type="hidden" class="coord-input" name="celda[37]" value=""/></td>
											<td id="coord-38" class="celda"><input type="hidden" class="coord-input" name="celda[38]" value=""/></td>
											<td id="coord-39" class="celda"><input type="hidden" class="coord-input" name="celda[39]" value=""/></td>
										</tr>
										<tr>
											<td>5</td>
											<td id="coord-40" class="celda"><input type="hidden" class="coord-input" name="celda[40]" value=""/></td>
											<td id="coord-41" class="celda"><input type="hidden" class="coord-input" name="celda[41]" value=""/></td>
											<td id="coord-42" class="celda"><input type="hidden" class="coord-input" name="celda[42]" value=""/></td>
											<td id="coord-43" class="celda"><input type="hidden" class="coord-input" name="celda[43]" value=""/></td>
											<td id="coord-44" class="celda"><input type="hidden" class="coord-input" name="celda[44]" value=""/></td>
											<td id="coord-45" class="celda"><input type="hidden" class="coord-input" name="celda[45]" value=""/></td>
											<td id="coord-46" class="celda"><input type="hidden" class="coord-input" name="celda[46]" value=""/></td>
											<td id="coord-47" class="celda"><input type="hidden" class="coord-input" name="celda[47]" value=""/></td>
											<td id="coord-48" class="celda"><input type="hidden" class="coord-input" name="celda[48]" value=""/></td>
											<td id="coord-49" class="celda"><input type="hidden" class="coord-input" name="celda[49]" value=""/></td>
										</tr>
										<tr>
											<td>6</td>
											<td id="coord-50" class="celda"><input type="hidden" class="coord-input" name="celda[50]" value=""/></td>
											<td id="coord-51" class="celda"><input type="hidden" class="coord-input" name="celda[51]" value=""/></td>
											<td id="coord-52" class="celda"><input type="hidden" class="coord-input" name="celda[52]" value=""/></td>
											<td id="coord-53" class="celda"><input type="hidden" class="coord-input" name="celda[53]" value=""/></td>
											<td id="coord-54" class="celda"><input type="hidden" class="coord-input" name="celda[54]" value=""/></td>
											<td id="coord-55" class="celda"><input type="hidden" class="coord-input" name="celda[55]" value=""/></td>
											<td id="coord-56" class="celda"><input type="hidden" class="coord-input" name="celda[56]" value=""/></td>
											<td id="coord-57" class="celda"><input type="hidden" class="coord-input" name="celda[57]" value=""/></td>
											<td id="coord-58" class="celda"><input type="hidden" class="coord-input" name="celda[58]" value=""/></td>
											<td id="coord-59" class="celda"><input type="hidden" class="coord-input" name="celda[59]" value=""/></td>
										</tr>
										<tr>
											<td>7</td>
											<td id="coord-60" class="celda"><input type="hidden" class="coord-input" name="celda[60]" value=""/></td>
											<td id="coord-61" class="celda"><input type="hidden" class="coord-input" name="celda[61]" value=""/></td>
											<td id="coord-62" class="celda"><input type="hidden" class="coord-input" name="celda[62]" value=""/></td>
											<td id="coord-63" class="celda"><input type="hidden" class="coord-input" name="celda[63]" value=""/></td>
											<td id="coord-64" class="celda"><input type="hidden" class="coord-input" name="celda[64]" value=""/></td>
											<td id="coord-65" class="celda"><input type="hidden" class="coord-input" name="celda[65]" value=""/></td>
											<td id="coord-66" class="celda"><input type="hidden" class="coord-input" name="celda[66]" value=""/></td>
											<td id="coord-67" class="celda"><input type="hidden" class="coord-input" name="celda[67]" value=""/></td>
											<td id="coord-68" class="celda"><input type="hidden" class="coord-input" name="celda[68]" value=""/></td>
											<td id="coord-69" class="celda"><input type="hidden" class="coord-input" name="celda[69]" value=""/></td>
										</tr>
										<tr>
											<td>8</td>
											<td id="coord-70" class="celda"><input type="hidden" class="coord-input" name="celda[70]" value=""/></td>
											<td id="coord-71" class="celda"><input type="hidden" class="coord-input" name="celda[71]" value=""/></td>
											<td id="coord-72" class="celda"><input type="hidden" class="coord-input" name="celda[72]" value=""/></td>
											<td id="coord-73" class="celda"><input type="hidden" class="coord-input" name="celda[73]" value=""/></td>
											<td id="coord-74" class="celda"><input type="hidden" class="coord-input" name="celda[74]" value=""/></td>
											<td id="coord-75" class="celda"><input type="hidden" class="coord-input" name="celda[75]" value=""/></td>
											<td id="coord-76" class="celda"><input type="hidden" class="coord-input" name="celda[76]" value=""/></td>
											<td id="coord-77" class="celda"><input type="hidden" class="coord-input" name="celda[77]" value=""/></td>
											<td id="coord-78" class="celda"><input type="hidden" class="coord-input" name="celda[78]" value=""/></td>
											<td id="coord-79" class="celda"><input type="hidden" class="coord-input" name="celda[79]" value=""/></td>
										</tr>
										<tr>
											<td>9</td>
											<td id="coord-80" class="celda"><input type="hidden" class="coord-input" name="celda[80]" value=""/></td>
											<td id="coord-81" class="celda"><input type="hidden" class="coord-input" name="celda[81]" value=""/></td>
											<td id="coord-82" class="celda"><input type="hidden" class="coord-input" name="celda[82]" value=""/></td>
											<td id="coord-83" class="celda"><input type="hidden" class="coord-input" name="celda[83]" value=""/></td>
											<td id="coord-84" class="celda"><input type="hidden" class="coord-input" name="celda[84]" value=""/></td>
											<td id="coord-85" class="celda"><input type="hidden" class="coord-input" name="celda[85]" value=""/></td>
											<td id="coord-86" class="celda"><input type="hidden" class="coord-input" name="celda[86]" value=""/></td>
											<td id="coord-87" class="celda"><input type="hidden" class="coord-input" name="celda[87]" value=""/></td>
											<td id="coord-88" class="celda"><input type="hidden" class="coord-input" name="celda[88]" value=""/></td>
											<td id="coord-89" class="celda"><input type="hidden" class="coord-input" name="celda[89]" value=""/></td>
										</tr>
										<tr>
											<td>10</td>
											<td id="coord-90" class="celda"><input type="hidden" class="coord-input" name="celda[90]" value=""/></td>
											<td id="coord-91" class="celda"><input type="hidden" class="coord-input" name="celda[91]" value=""/></td>
											<td id="coord-92" class="celda"><input type="hidden" class="coord-input" name="celda[92]" value=""/></td>
											<td id="coord-93" class="celda"><input type="hidden" class="coord-input" name="celda[93" value=""/></td>
											<td id="coord-94" class="celda"><input type="hidden" class="coord-input" name="celda[94]" value=""/></td>
											<td id="coord-95" class="celda"><input type="hidden" class="coord-input" name="celda[95]" value=""/></td>
											<td id="coord-96" class="celda"><input type="hidden" class="coord-input" name="celda[96]" value=""/></td>
											<td id="coord-97" class="celda"><input type="hidden" class="coord-input" name="celda[97]" value=""/></td>
											<td id="coord-98" class="celda"><input type="hidden" class="coord-input" name="celda[98]" value=""/></td>
											<td id="coord-99" class="celda"><input type="hidden" class="coord-input" name="celda[99]" value=""/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="well">
						<div class="alert alert-info" role="alert">
							<strong>Usuario B</strong>
							<br/>
							Naves faltantes: <strong>1</strong>
						</div>
						<div class="div-table">	
							<div>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>1</th>
											<th>2</th>
											<th>3</th>
											<th>4</th>
											<th>5</th>
											<th>6</th>
											<th>7</th>
											<th>8</th>
											<th>9</th>
											<th>10</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td id="coord-00" class="celda"><input type="hidden" class="coord-input" name="celda[0]" value=""/></td>
											<td id="coord-01" class="celda"><input type="hidden" class="coord-input" name="celda[1]" value=""/></td>
											<td id="coord-02" class="celda"><input type="hidden" class="coord-input" name="celda[2]" value=""/></td>
											<td id="coord-03" class="celda"><input type="hidden" class="coord-input" name="celda[3]" value=""/></td>
											<td id="coord-04" class="celda"><input type="hidden" class="coord-input" name="celda[4]" value=""/></td>
											<td id="coord-05" class="celda"><input type="hidden" class="coord-input" name="celda[5]" value=""/></td>
											<td id="coord-06" class="celda"><input type="hidden" class="coord-input" name="celda[6]" value=""/></td>
											<td id="coord-07" class="celda"><input type="hidden" class="coord-input" name="celda[7]" value=""/></td>
											<td id="coord-08" class="celda"><input type="hidden" class="coord-input" name="celda[8]" value=""/></td>
											<td id="coord-09" class="celda"><input type="hidden" class="coord-input" name="celda[9]" value=""/></td>
										</tr>
										<tr>
											<td>2</td>
											<td id="coord-10" class="celda"><input type="hidden" class="coord-input" name="celda[10]" value=""/></td>
											<td id="coord-11" class="celda"><input type="hidden" class="coord-input" name="celda[11]" value=""/></td>
											<td id="coord-12" class="celda"><input type="hidden" class="coord-input" name="celda[12]" value=""/></td>
											<td id="coord-13" class="celda"><input type="hidden" class="coord-input" name="celda[13]" value=""/></td>
											<td id="coord-14" class="celda"><input type="hidden" class="coord-input" name="celda[14]" value=""/></td>
											<td id="coord-15" class="celda"><input type="hidden" class="coord-input" name="celda[15]" value=""/></td>
											<td id="coord-16" class="celda"><input type="hidden" class="coord-input" name="celda[16]" value=""/></td>
											<td id="coord-17" class="celda"><input type="hidden" class="coord-input" name="celda[17]" value=""/></td>
											<td id="coord-18" class="celda"><input type="hidden" class="coord-input" name="celda[18]" value=""/></td>
											<td id="coord-19" class="celda"><input type="hidden" class="coord-input" name="celda[19]" value=""/></td>
										</tr>
										<tr>
											<td>3</td>
											<td id="coord-20" class="celda"><input type="hidden" class="coord-input" name="celda[20]" value=""/></td>
											<td id="coord-21" class="celda"><input type="hidden" class="coord-input" name="celda[21]" value=""/></td>
											<td id="coord-22" class="celda"><input type="hidden" class="coord-input" name="celda[22]" value=""/></td>
											<td id="coord-23" class="celda"><input type="hidden" class="coord-input" name="celda[23]" value=""/></td>
											<td id="coord-24" class="celda"><input type="hidden" class="coord-input" name="celda[24]" value=""/></td>
											<td id="coord-25" class="celda"><input type="hidden" class="coord-input" name="celda[25]" value=""/></td>
											<td id="coord-26" class="celda"><input type="hidden" class="coord-input" name="celda[26]" value=""/></td>
											<td id="coord-27" class="celda"><input type="hidden" class="coord-input" name="celda[27]" value=""/></td>
											<td id="coord-28" class="celda"><input type="hidden" class="coord-input" name="celda[28]" value=""/></td>
											<td id="coord-29" class="celda"><input type="hidden" class="coord-input" name="celda[29]" value=""/></td>
										</tr>
										<tr>
											<td>4</td>
											<td id="coord-30" class="celda"><input type="hidden" class="coord-input" name="celda[30]" value=""/></td>
											<td id="coord-31" class="celda"><input type="hidden" class="coord-input" name="celda[31]" value=""/></td>
											<td id="coord-32" class="celda"><input type="hidden" class="coord-input" name="celda[32]" value=""/></td>
											<td id="coord-33" class="celda"><input type="hidden" class="coord-input" name="celda[33]" value=""/></td>
											<td id="coord-34" class="celda"><input type="hidden" class="coord-input" name="celda[34]" value=""/></td>
											<td id="coord-35" class="celda"><input type="hidden" class="coord-input" name="celda[35]" value=""/></td>
											<td id="coord-36" class="celda"><input type="hidden" class="coord-input" name="celda[36]" value=""/></td>
											<td id="coord-37" class="celda"><input type="hidden" class="coord-input" name="celda[37]" value=""/></td>
											<td id="coord-38" class="celda"><input type="hidden" class="coord-input" name="celda[38]" value=""/></td>
											<td id="coord-39" class="celda"><input type="hidden" class="coord-input" name="celda[39]" value=""/></td>
										</tr>
										<tr>
											<td>5</td>
											<td id="coord-40" class="celda"><input type="hidden" class="coord-input" name="celda[40]" value=""/></td>
											<td id="coord-41" class="celda"><input type="hidden" class="coord-input" name="celda[41]" value=""/></td>
											<td id="coord-42" class="celda"><input type="hidden" class="coord-input" name="celda[42]" value=""/></td>
											<td id="coord-43" class="celda"><input type="hidden" class="coord-input" name="celda[43]" value=""/></td>
											<td id="coord-44" class="celda"><input type="hidden" class="coord-input" name="celda[44]" value=""/></td>
											<td id="coord-45" class="celda"><input type="hidden" class="coord-input" name="celda[45]" value=""/></td>
											<td id="coord-46" class="celda"><input type="hidden" class="coord-input" name="celda[46]" value=""/></td>
											<td id="coord-47" class="celda"><input type="hidden" class="coord-input" name="celda[47]" value=""/></td>
											<td id="coord-48" class="celda"><input type="hidden" class="coord-input" name="celda[48]" value=""/></td>
											<td id="coord-49" class="celda"><input type="hidden" class="coord-input" name="celda[49]" value=""/></td>
										</tr>
										<tr>
											<td>6</td>
											<td id="coord-50" class="celda"><input type="hidden" class="coord-input" name="celda[50]" value=""/></td>
											<td id="coord-51" class="celda"><input type="hidden" class="coord-input" name="celda[51]" value=""/></td>
											<td id="coord-52" class="celda"><input type="hidden" class="coord-input" name="celda[52]" value=""/></td>
											<td id="coord-53" class="celda"><input type="hidden" class="coord-input" name="celda[53]" value=""/></td>
											<td id="coord-54" class="celda"><input type="hidden" class="coord-input" name="celda[54]" value=""/></td>
											<td id="coord-55" class="celda"><input type="hidden" class="coord-input" name="celda[55]" value=""/></td>
											<td id="coord-56" class="celda"><input type="hidden" class="coord-input" name="celda[56]" value=""/></td>
											<td id="coord-57" class="celda"><input type="hidden" class="coord-input" name="celda[57]" value=""/></td>
											<td id="coord-58" class="celda"><input type="hidden" class="coord-input" name="celda[58]" value=""/></td>
											<td id="coord-59" class="celda"><input type="hidden" class="coord-input" name="celda[59]" value=""/></td>
										</tr>
										<tr>
											<td>7</td>
											<td id="coord-60" class="celda"><input type="hidden" class="coord-input" name="celda[60]" value=""/></td>
											<td id="coord-61" class="celda"><input type="hidden" class="coord-input" name="celda[61]" value=""/></td>
											<td id="coord-62" class="celda"><input type="hidden" class="coord-input" name="celda[62]" value=""/></td>
											<td id="coord-63" class="celda"><input type="hidden" class="coord-input" name="celda[63]" value=""/></td>
											<td id="coord-64" class="celda"><input type="hidden" class="coord-input" name="celda[64]" value=""/></td>
											<td id="coord-65" class="celda"><input type="hidden" class="coord-input" name="celda[65]" value=""/></td>
											<td id="coord-66" class="celda"><input type="hidden" class="coord-input" name="celda[66]" value=""/></td>
											<td id="coord-67" class="celda"><input type="hidden" class="coord-input" name="celda[67]" value=""/></td>
											<td id="coord-68" class="celda"><input type="hidden" class="coord-input" name="celda[68]" value=""/></td>
											<td id="coord-69" class="celda"><input type="hidden" class="coord-input" name="celda[69]" value=""/></td>
										</tr>
										<tr>
											<td>8</td>
											<td id="coord-70" class="celda"><input type="hidden" class="coord-input" name="celda[70]" value=""/></td>
											<td id="coord-71" class="celda"><input type="hidden" class="coord-input" name="celda[71]" value=""/></td>
											<td id="coord-72" class="celda"><input type="hidden" class="coord-input" name="celda[72]" value=""/></td>
											<td id="coord-73" class="celda"><input type="hidden" class="coord-input" name="celda[73]" value=""/></td>
											<td id="coord-74" class="celda"><input type="hidden" class="coord-input" name="celda[74]" value=""/></td>
											<td id="coord-75" class="celda"><input type="hidden" class="coord-input" name="celda[75]" value=""/></td>
											<td id="coord-76" class="celda"><input type="hidden" class="coord-input" name="celda[76]" value=""/></td>
											<td id="coord-77" class="celda"><input type="hidden" class="coord-input" name="celda[77]" value=""/></td>
											<td id="coord-78" class="celda"><input type="hidden" class="coord-input" name="celda[78]" value=""/></td>
											<td id="coord-79" class="celda"><input type="hidden" class="coord-input" name="celda[79]" value=""/></td>
										</tr>
										<tr>
											<td>9</td>
											<td id="coord-80" class="celda"><input type="hidden" class="coord-input" name="celda[80]" value=""/></td>
											<td id="coord-81" class="celda"><input type="hidden" class="coord-input" name="celda[81]" value=""/></td>
											<td id="coord-82" class="celda"><input type="hidden" class="coord-input" name="celda[82]" value=""/></td>
											<td id="coord-83" class="celda"><input type="hidden" class="coord-input" name="celda[83]" value=""/></td>
											<td id="coord-84" class="celda"><input type="hidden" class="coord-input" name="celda[84]" value=""/></td>
											<td id="coord-85" class="celda"><input type="hidden" class="coord-input" name="celda[85]" value=""/></td>
											<td id="coord-86" class="celda"><input type="hidden" class="coord-input" name="celda[86]" value=""/></td>
											<td id="coord-87" class="celda"><input type="hidden" class="coord-input" name="celda[87]" value=""/></td>
											<td id="coord-88" class="celda"><input type="hidden" class="coord-input" name="celda[88]" value=""/></td>
											<td id="coord-89" class="celda"><input type="hidden" class="coord-input" name="celda[89]" value=""/></td>
										</tr>
										<tr>
											<td>10</td>
											<td id="coord-90" class="celda"><input type="hidden" class="coord-input" name="celda[90]" value=""/></td>
											<td id="coord-91" class="celda"><input type="hidden" class="coord-input" name="celda[91]" value=""/></td>
											<td id="coord-92" class="celda"><input type="hidden" class="coord-input" name="celda[92]" value=""/></td>
											<td id="coord-93" class="celda"><input type="hidden" class="coord-input" name="celda[93" value=""/></td>
											<td id="coord-94" class="celda"><input type="hidden" class="coord-input" name="celda[94]" value=""/></td>
											<td id="coord-95" class="celda"><input type="hidden" class="coord-input" name="celda[95]" value=""/></td>
											<td id="coord-96" class="celda"><input type="hidden" class="coord-input" name="celda[96]" value=""/></td>
											<td id="coord-97" class="celda"><input type="hidden" class="coord-input" name="celda[97]" value=""/></td>
											<td id="coord-98" class="celda"><input type="hidden" class="coord-input" name="celda[98]" value=""/></td>
											<td id="coord-99" class="celda"><input type="hidden" class="coord-input" name="celda[99]" value=""/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div> <!-- /container -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %}"></script>-->
		<script src="{% static 'batallanaval/js/1.12.4.jquery.min.js' %}"></script>
		<!--<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>-->
		<script src="{% static 'batallanaval/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'batallanaval/bootstrap/assets/js/docs.min.js' %}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{% static 'batallanaval/bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
		<!-- GUS INICIO -->
		<style type="text/css">
			.celda{
				cursor: pointer;
			}
			.div-table{
				background-color: #ffffff;
			}
		</style>
		<script>
			$(document).ready(function(){
				
			});
		<!-- GUS FIN -->
	</body>
</html>
