<html>
  <head>
    <title>Batalla Naval</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'batallanaval/css/style.css' %}" />
  </head>
  <body>
    <h1 class="azul">prueba</h1>
    <h1 class="azul">{{ celdas }}</h1>
    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </th>
        <tr>
          <td></td>
          <td></td>
        </th>
      </tbody>
    </table>
  </body>
</html>
